/.idea/
/minREV/dataset/
/ViT-pytorch/data/
/ViT-pytorch/logs/
/ViT-pytorch/wandb/run-20230801_150932-5d73vcp3/files/config.yaml
/ViT-pytorch/wandb/run-20230801_150932-5d73vcp3/files/requirements.txt
/ViT-pytorch/wandb/run-20230801_150932-5d73vcp3/files/wandb-metadata.json
/ViT-pytorch/wandb/run-20230801_150932-5d73vcp3/files/wandb-summary.json
/ViT-pytorch/wandb/run-20230801_150932-5d73vcp3/run-5d73vcp3.wandb
/ViT-pytorch/wandb/run-20230801_151129-lggij5gl/files/config.yaml
/ViT-pytorch/wandb/run-20230801_151129-lggij5gl/files/requirements.txt
/ViT-pytorch/wandb/run-20230801_151129-lggij5gl/files/wandb-metadata.json
/ViT-pytorch/wandb/run-20230801_151129-lggij5gl/files/wandb-summary.json
/ViT-pytorch/wandb/run-20230801_151129-lggij5gl/run-lggij5gl.wandb
/ViT-pytorch/wandb/run-20230801_151434-zey1r4f7/files/config.yaml
/ViT-pytorch/wandb/run-20230801_151434-zey1r4f7/files/requirements.txt
/ViT-pytorch/wandb/run-20230801_151434-zey1r4f7/files/wandb-metadata.json
/ViT-pytorch/wandb/run-20230801_151434-zey1r4f7/files/wandb-summary.json
/ViT-pytorch/wandb/run-20230801_151434-zey1r4f7/run-zey1r4f7.wandb
/ViT-pytorch/wandb/run-20230801_151744-zmzwjn95/files/config.yaml
/ViT-pytorch/wandb/run-20230801_151744-zmzwjn95/files/requirements.txt
/ViT-pytorch/wandb/run-20230801_151744-zmzwjn95/files/wandb-metadata.json
/ViT-pytorch/wandb/run-20230801_151744-zmzwjn95/files/wandb-summary.json
/ViT-pytorch/wandb/run-20230801_151744-zmzwjn95/run-zmzwjn95.wandb
/ViT-pytorch/logs/imagenet-pretrained/events.out.tfevents.1690893483.Yairs.8980.0
/ViT-pytorch/logs/imagenet-pretrained/events.out.tfevents.1690893526.Yairs.15160.0
